<div class="glass-feature-card w-100 p-4 rounded-3 d-flex flex-column align-items-start h-100">
  <div class="icon-wrapper-box mb-3">
    <img [src]="data.iconSrc" [alt]="data.title" class="icon-img-filter">
  </div>
  <h2 class="h6 fw-bold text-white mb-2">{{ data.title }}</h2>
  <p class="small text-secondary mb-4 layout-description-box">{{ data.description }}</p>
  <button 
    type="button" 
    class="btn btn-glass-outline w-100 mt-auto custom-feature-btn" 
    (click)="onAction()">
    {{ data.actionText }}
  </button>
</div>