<main class="p-4 p-lg-5" style="max-width: 1400px; margin: 0 auto; width: 100%;">
  <header class="mb-4">
    <h1 class="h2 fw-bold text-white mb-1">Welcome back, {{ companyName }}</h1>
    <p class="small text-secondary italic-subtitle mb-0">What would you like to do today?</p>
  </header>

  <!-- Features Grid Layout -->
  <section class="row g-4 matches-features-grid">
    @for (feature of featureNodes; track feature) {
      <div class="col-md-6 col-xl-6 d-flex">
        <app-feature-card 
          [data]="feature" 
          (cardClick)="onCardAction($event)" 
          class="w-100">
        </app-feature-card>
      </div>
    }

    <!-- <div class="row g-4 mt-1">
      <div class="col-md-6">
        <div class="glass-feature-card w-100 p-4 rounded-3 d-flex flex-column align-items-start h-100">
      <div class="icon-wrapper-box mb-3">
        @if(employee()[24]; as firstEmployee){
          <p>{{firstEmployee.firstName}}</p>
        }
      </div>
        <h2 class="h6 fw-bold text-white mb-2">Try</h2>
        <p class="small text-secondary mb-4 layout-description-box">testing...</p>
      </div>
      </div>
    </div> -->
    
  </section>
</main>